/node_modules
/public/hot
/public/storage
/public/images/demo
/storage/*.key
/storage/*.index
/storage/installed
/resources/lang/*
!/resources/lang/vendor/*
!/resources/lang/bn
!/resources/lang/en
!/resources/lang/es
!/resources/lang/fa
/vendor/*
!/vendor/helper_functions.php
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
.env.demo
.env
